
<div class="row">
  <div class="col-md-12 status-bar">
    <app-character #activeCharacter></app-character>
  </div>
</div>
<div class="row background">
  <div class="scene01 col-md-10-offset-1">
    <img src="../assets/images/father.jpg" alt="">
    <div class="belowScene">
      <h2>Crypt</h2>
      <h4>Inside the crypt, your undead father appears wielding twin axes.  He is overcome by the black magic, wild-eyed and unrestrained.</h4>
      <br>
      <h4 routerLink="/game-over">Battle
         <span class="glyphicon glyphicon-chevron-left"></span>
       </h4>
    </div>
  </div>
</div>
