
<div class="row">
  <div class="col-md-12 status-bar">
    <app-character #activeCharacter></app-character>
    <h2>{{activeCharacter.activeCharacter.scene}}</h2>
  </div>
</div>
<div class="row background">
  <div class="scene01 col-md-10-offset-1">
    <img src="../assets/images/father.jpg" alt="">
    <div class="belowScene">
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt?</h3>
      <h4 routerLink="/game-over">Battle
         <span class="glyphicon glyphicon-chevron-left"></span>
       </h4>
    </div>
  </div>
</div>
