<div class="background">
  <div class="parchment-bg">
    <h3>Name:<em> {{characterToDisplay?.name}}</em></h3>
    <h4>Gender: {{characterToDisplay?.gender}}</h4>
    <p><strong>Charisma:</strong> {{characterToDisplay?.charisma}}</p>
    <p><strong>Dexterity:</strong> {{characterToDisplay?.dexterity}}</p>
    <p><strong>Intelligence:</strong> {{characterToDisplay?.intelligence}}</p>
    <p><strong>Strength:</strong> {{characterToDisplay?.strength}}</p>
    <p><strong>Inventory:</strong> {{characterToDisplay?.inventory}}</p>
    <p><strong>Gold:</strong> {{characterToDisplay?.gold}}</p>
  </div>
</div>
