/* You can add global styles to this file, and also import other style files */
* {
  padding: none;
  margin: none;
  box-sizing: none;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
