/* You can add global styles to this file, and also import other style files */
* {
  padding: none;
  margin: none;
  box-sizing: none;
}
html, body {
  width: 100%;
  max-width: 100%;
  min-width: 350px;
  height: 100vh;
  max-height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
