<div class="background">
  <div class="parchment-bg">
    <h2>About Nested Axe</h2>
    <br>
    <h3>Nested Axe is a short Choose Your Own Adventure Game where you can create a character and take that character through a series of scenes with corresponding choices.</h3>

    <h2>About the Authors</h2>
    <br>
    <h4><a href="https://github.com/drewlinn">Andrew Dalton</a></h4>
    <br>
    <h4><a href="https://github.com/gepetto503">Brendan Hanna</a></h4>
    <br>
    <h4><a href="https://github.com/ProgramJustin">Justin Gomez</a></h4>
    <br>
    <h4><a href="https://github.com/jdmysliwiec">Jordan Mysliwiec</a></h4>
    <br>
  </div>
</div>
