<div class="row">
  <div class="col-md-12 status-bar">
    <app-character #activeCharacter></app-character>
  </div>
</div>
<div class="row background">
  <div class="scene01 col-md-10-offset-1">
    <img src="../assets/images/castle.jpg" alt="">
    <div class="belowScene">
      <h2>Church Hallway</h2>
      <h3>The evil magician intercepts you in the hallway.
        "No holy water, no crucifixes!" He bellows.
        "This fight happens NOW"</h3>
      <h4 routerLink="/scene07/{{activeCharacter.characterId}}" (click)="scene07Change(activeCharacter)">Go to your father's crypt <span class="glyphicon glyphicon-chevron-left"></span></h4>
    </div>
  </div>
</div>
