<div class="background">
  <div class="text-box" [@crawl]>
    <h3>You wake up in a jail cell...</h3>
    <h3>to find out you've been framed!  The local circus wizard, hungry for political power, has assassinated the Duke!</h3>
    <h3>With the power of black magic and furious rap hands, the wizard has risen your own father from the grave and manipulated him into doing the crime.  And now he's pinned it on you!</h3>
    <h3>The entire duchy is out for your head, and the only way to clear your name, the wizard says, is to kill your own father... again.</h3>
    <br>
    <div class="button" routerLink="/scene01">
      <h3>Begin</h3>
    </div>
  </div>

</div>
