@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";

.background {
  max-height: 100%;
  height: 100vh;
  background: url('../../assets/images/woody.jpg') center center no-repeat;
  background-size: cover;
  border: 2px solid lime;
  
}
@media screen and (max-width: 865px) {
  .background {
    justify-content: flex-start;
    }
  }
