<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Nested Axe</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="character-list">Characters List</a></li>
    </ul>
  </div>
</nav> -->

<h3>i am part of app component, outside of the router outlet tags</h3>
<router-outlet></router-outlet>
<!-- <app-welcome></app-welcome> -->

<footer class="footer">
  <div class="container">

    <p>{{currentRoute}}</p>
    <!-- <a class="text-muted" routerLink="player">Player</a> -->
    <div *ngIf="currentRoute != '/'">
      <h3>Name: {{characterToDisplay?.name}}</h3>
      <h4>Gender: {{characterToDisplay?.gender}}</h4>
      <p>Charisma: {{characterToDisplay?.charisma}}</p>
      <p>Dexterity: {{characterToDisplay?.dexterity}}</p>
      <p>Intelligence: {{characterToDisplay?.intelligence}}</p>
      <p>Strength: {{characterToDisplay?.strength}}</p>
      <p>Inventory: {{characterToDisplay?.inventory}}</p>
      <p>Gold: {{characterToDisplay?.gold}}</p>
    </div>
  </div>
</footer>
