<div *ngIf="currentRoute === '/'">
  <app-welcome></app-welcome>
</div>

<div *ngIf="currentRoute === '/character-list'">
  <app-character-list></app-character-list>
</div>

<div *ngIf="currentRoute === '/player'">
  <app-player></app-player>
</div>
<!--
this is the parchment-background gameplay area, only displayed if you're NOT on one of the first 3 screens -->
<!-- <div *ngIf="(currentRoute !== welcome || currentRoute !== character-list || currentRoute !== player)" class="container-fluid">
  <a class="text-muted" routerLink="player">Player</a>
  <div class="row">
    <div class="row background">
      <div class="scene col-md-10-offset-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->
