<div class="row">
  <div class="col-md-12 status-bar">
    <h5>
      <span>Name: {{activeCharacter?.name}}</span>
      <span>Gender: {{activeCharacter?.gender}}</span>
       <span>Charisma: {{activeCharacter?.charisma}}</span>
       <span>Dexterity: {{activeCharacter?.dexterity}}</span>
       <span>Intelligence: {{activeCharacter?.intelligence}}</span>
       <span>Strength: {{activeCharacter?.strength}}</span>
       <span>Inventory: {{activeCharacter?.inventory}}</span>
       <span>Gold: {{activeCharacter?.gold}}</span>
    </h5>
  </div>
</div>
<div class="row background">
  <div class="scene01 col-md-10-offset-1">
    <img src="../assets/images/tavern.jpg" alt="">
    <div class="belowScene">
      <h2>Tavern</h2>
      <h4>A fugitive and a priest walk into a bar...</h4>
      <h4> You tell the priest your predicament.
The priest says "come to church, my son, and absolve your sins before facing this black magic." </h4>
      <br>
      <h4 routerLink="/scene04">Go to cathedral <span class="glyphicon glyphicon-chevron-left"></span></h4>

      <h4 routerLink="/scene06">Play along, but plan to ditch the priest in the hall. <span class="glyphicon glyphicon-chevron-left"></span></h4>
    </div>
  </div>
</div>
