.nested-axe {
  height: 100%;
  width: 100%;
  background: url('../../assets/images/nested-axe-pixelated.png') center center no-repeat;
  background-size: cover;
  position: relative;
  .welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    h1 {
      font-size: 150px;
      margin-bottom: 50px;
      font-family: 'Metal Mania', cursive;
    }
    .button {
      border: 2px solid white;
      border-radius: 4px;
      width: 100px;
      margin: auto;
      h3 {
        margin: 0;
        padding: 10px;
      }
    }
  }

}
