.nested-axe {
  height: 100%;
  width: 100%;
  background: url('../../assets/images/nested-axe-pixelated.png') center center no-repeat;
  background-size: cover;
  position: relative;
  .welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    h1 {
      font-size: 150px;
      margin-bottom: 50px;
      font-family: 'Metal Mania', cursive;
    }
    .button { //on top of global button styles
      width: 100px;
    }
  }

}
