<div class="page-flexbox-parent">
  <div class="flex-text">
    <h2>Choose an Adventurer</h2>
    <div class="button">
      <h3 routerLink="/player">or create your own</h3>
    </div>

  </div>



  <div class="characters">

    <div *ngFor="let character of characters | async"
    class="character">
        <h3 (click)="goToDetailPage(character)"><em>{{character.name}}</em>  {{character.gender}}</h3>
        <h4>Charisma: {{character.charisma}} Dexterity: {{character.dexterity}} Intelligence: {{character.intelligence}} Strength: {{character.strength}} Inventory: {{character.inventory}} Gold: {{character.gold}}</h4>


        <!-- <div *ngIf="currentRoute === '/character-list'"> -->
        <div class="character-edit" id="characterEdit">
          <app-character-edit [selectedCharacter]="character"></app-character-edit>
        </div>
        <br>
    </div>

  </div>
</div>
