<h2>Characters List</h2>

<div *ngFor="let character of characters | async" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(character)"><em>{{character.name}}</em>  {{character.gender}}</h3>
    <h4>Charisma: {{character.charisma}} Dexterity: {{character.dexterity}} Intelligence: {{character.intelligence}} Strength: {{character.strength}}</h4>
    <p>Inventory: {{character.inventory}} Gold: {{character.gold}}</p>
    <div *ngIf="currentRoute === '/player'">
      <hr>
      <app-character-edit [selectedCharacter]="character"></app-character-edit>
    </div>
  </div>
</div>
