<div class="row">
  <div class="col-md-12 status-bar">
    <h5>
      <span>Name: {{activeCharacter?.name}}</span>
      <span>Gender: {{activeCharacter?.gender}}</span>
       <span>Charisma: {{activeCharacter?.charisma}}</span>
       <span>Dexterity: {{activeCharacter?.dexterity}}</span>
       <span>Intelligence: {{activeCharacter?.intelligence}}</span>
       <span>Strength: {{activeCharacter?.strength}}</span>
       <span>Inventory: {{activeCharacter?.inventory}}</span>
       <span>Gold: {{activeCharacter?.gold}}</span>
    </h5>
  </div>
</div>
<div class="row background">
  <div class="scene01 col-md-10-offset-1">
    <img src="../assets/images/weapon-shop.png" alt="">
    <div class="belowScene">
      <h2>Weapon Shop</h2>
      <h4>First thing you need is a weapon.  After selecting a fine axe, you...</h4>
      <br>
      <h4 routerLink="/scene05">Head to the graveyard to find your undead father <span class="glyphicon glyphicon-chevron-left"></span></h4>

      <h4 routerLink="/scene06">Go to the church to get a crucifix to ward off the black magic affecting your father. <span class="glyphicon glyphicon-chevron-left"></span></h4>
    </div>
  </div>
</div>
