<div class="row">
  <div class="col-md-12 status-bar">
    <app-character #activeCharacter></app-character>
  </div>
</div>
<div class="row background">
  <div class="scene01 col-md-10-offset-1">
    <img src="../assets/images/weapon-shop.png" alt="">
    <div class="belowScene">
      <h2>Weapon Shop</h2>
      <h4>First thing you need is a weapon.  After selecting a fine axe, you...</h4>
      <br>
      <h4 routerLink="/scene05/{{activeCharacter.characterId}}" (click)="scene05Change(activeCharacter)">Head to the graveyard to find your undead father <span class="glyphicon glyphicon-chevron-left"></span></h4>
      <h4 routerLink="/scene06/{{activeCharacter.characterId}}" (click)="scene06Change(activeCharacter)">Go to the church to get a crucifix to ward off the black magic affecting your father. <span class="glyphicon glyphicon-chevron-left"></span></h4>
    </div>
  </div>
</div>
